body{
    background-color: tomato;
}

#input_predial{
    
    width: 400px
}

#buscador_container{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

#content{
    width: auto;
    height: auto;
}
